@font-face {
  font-family: "National";
  src: url("assets/fonts/TestNational2Condensed-Regular.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
:root {
  --black: #1D1E1E;
  --white: #EFEFEF;
  --card-title: 5rem;
  --card-text: 22px
}

.xl{
  font-family: "National", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 140%;
}

.xs{
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 140%;
}

.card-title {
  text-transform: uppercase;
  color : var(--black);
  padding: 0;
  text-align: center;
  line-height: calc(var(--card-title) * 1.5);
  /* background-color: aqua; */
}

.card-link {
  font-family: "National", sans-serif;
  text-transform: uppercase;
  color : var(--white);
  padding: 10px 20px;
  background-color: var(--black);
  text-align: center;
}

.card-text{
  color : var(--black);
  width : 70%;
}

.children-container{
  width : 80%;
  height : 40vh;
  max-height: 800px;
}

.card-content {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap : 0px;
}


@media screen and (max-width: 540px) {
  :root {
    --card-title: 3rem;
    --card-text: 16px;
  }

  .xl-lg {
    font-size: 2.5rem;
    line-height: 240%;
  }

  .xs-lg {
    font-size: 16px;
    line-height: 120%;
  }

  .children-container {
    max-height: 640px;
  }

  .card-content{
    width : 100%;
    flex-direction: column;
    gap : 20px;
  }

  .card-text{
    width : 80%;
  }
}
