@font-face {
  font-family: "National";
  src: url("assets/fonts/TestNational2Condensed-Regular.otf");
}

@font-face {
  font-family: "Shopify";
  src: url("assets/fonts/ShopifySans-Regular_2268949385.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  font-family: "Shopify", sans-serif;
}

h2 {
  font-family: "National", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  }

p {
  font-family: "Shopify", sans-serif;
  font-weight: 400;
}

a {
  font-family: "National", sans-serif;
  font-weight: 600;
  border: 2px solid #1d1e1e;
  padding: 10px 20px;
  border-radius: 5px;
}
